:root {
	--color-light-blue: #f0fbff;
	--color-dark-blue: #00004d;
	--color-purple: #660066;
	--color-light-purple: #f2e6ff;
	--color-dark-purple: #330033;
}

@font-face {
	font-family: Oxanium;
	src: url(oxanium.ttf);
}

* {
	padding: 0;
	border: 0;
	margin: 0;
	z-index: 0;
	font-family: Oxanium;
	color: #00004d;
}

* a {
	text-decoration: none;
	color: var(--color-dark-purple);
}

* a:hover {
	opacity: 0.75;
	color: var(--color-purple)
}

header {
	position: sticky;
	top: 0;
	z-index: 2;
	padding-left: 0.4em;
	padding-right: 0.4em;
	font-size: 1.5em;
	background: var(--color-light-blue);
	box-shadow: 0 7px 20px -20px #000000;
}	

header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav ul {
	display: flex;
	gap: 2em;
}

#nav_left {
	display: flex;
	align-items: center;
	gap: 2em;
	padding: 0.4em;
}

#home_button img {
	transition: transform 0.75s
}

#home_button img:hover {
	transform: scale(1.25) rotate(360deg);
}

header nav ul li {
	list-style: none;
}

.dropdown_content {
	display: none;
	position: absolute;
	background: var(--color-light-blue);
	padding: 0.5em;
	border-radius: 1em;
	border: solid 0.05em var(--color-dark-blue);
	box-shadow: 0.2em 0.2em 0 var(--color-dark-blue);
}

.dropdown_content a {
	display: block;
	padding: 0.2em;
	font-size: 1.2vw;
}

.dropdown:hover .dropdown_content {
	display: block;
}

#language_selector {
	padding: 0.4em;
}

main {
	background: var(--color-light-blue);
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	padding: 2em;
	padding-left: 1em;
	gap: 2em;
}

#exercises_menu {
	display: grid;
	grid-template-columns: repeat(auto, 1fr);
	top: 6em;
	position: sticky;
	gap: 1em;
	width: 10%;
	padding: 1em;
	max-height: 80vh;
	overflow-y: scroll;
	scrollbar-width: none;
    border-radius: 2em;
    border: solid 0.05em var(--color-dark-purple);
    background: var(--color-light-purple);
    box-shadow: 0.5em 0.5em 0 var(--color-dark-purple);
}
  
#exercise_tab {
	flex: 1;
	position: sticky;
	padding: 1em;
	height: 80vh;
    border-radius: 2em;
    border: solid 0.05em var(--color-dark-purple);
    background: var(--color-light-purple);
    box-shadow: 0.5em 0.5em 0 var(--color-dark-purple);
}

#exercises_menu h1 {
	font-size: 1.4vw;
	text-align: center;
}

#exercise_tab h1 {
	padding: 1em;
	font-size: 1.6vw;
}

#exercise_tab p {
	padding: 1.2em;
	font-size: 1.5vw;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--color-light-blue);
	box-shadow: 0 -7px 20px -20px #000000;
}

footer section {
	flex: 1;
	padding: 2em;
}

footer h2 {
	font-size: 1.8vw;
}

footer figcaption, footer label, footer p {
	font-size: 1.3vw;
}

#quote figcaption {
	padding-top: 0.3em;
}

#feedback label {
	display: inline-block;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

input, textarea {
	padding: 0.5em;
	border: 0.1rem solid var(--color-dark-blue);
	border-radius: 0.3em;
	font-size: 0.8rem;
	background: var(--color-light-blue);
	color: var(--color-dark-purple);
}

#name {
	width: 12vw;
}

#text {
	width: 20vw;
	height: 5vw;
}

#submit {
	width: 4vw;
	height: 1.5vw;
	font-size: 1vw;
	padding: 0.1em;
	margin-top: 0.3em;
	font-weight: bold;
}

#submit:hover {
	cursor: pointer;
	color: var(--color-purple);
}

#social p, #social ul li {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

#social ul li {
	list-style: none;
}

#social img {
	vertical-align: middle;
}

#social figcaption {
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 1023px) {
	header {
		font-size: 1.2em;
	}

	.dropdown_content a {
		font-size: 1.5vw;
	}
}

@media screen and (max-width: 767px) {
	header nav {
		justify-content: center;
	}

	header nav ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		text-align: center;
		row-gap: 0.5em;
		column-gap: 1em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	.dropdown_content {
		top: 70px;
		font-size: 3vw;
	}

	.dropdown_content a {
		font-size: 2.2vw;
	}

	#exercises_menu {
		width: 5%;
	}

	#exercises_menu h1 {
		font-size: 2.5vw;
	}

	#exercise_tab h1 {
		font-size: 2.8vw;
	}

	#exercise_tab p {
		font-size: 2.5vw;
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	footer h2 {
		font-size: 4vw;
	}

	footer figcaption, footer label, footer p {
		font-size: 3vw;
	}

	#name {
		width: 40vw;
	}

	#text {
		width: 60vw;
		height: 15vw;
	}

	#submit {
		width: 12vw;
		height: 6vw;
		font-size: 2vw;
	}
}